

.Speborder{
    color: green;
    border-style: solid;
    background-color: black;
    margin: auto;
}
.fire{
    color: red;
}
.elec{
    color: yellow;
}
.wind{
    color: chartreuse;
}
.ice{
    color: cyan;
}
.other{
    color:rgb(255, 143, 255);
}
.white{
    color: whitesmoke;
}
@media screen and (max-width: 765px) {
    .col-sm-12{
        width: 25%;
    }
    .col-sm-11{
        width: 33%;
    }
}
