body{
    background: url(./images/FEAwakening.jpg);
}
.spacing{
    margin: 0; padding: 0;
    padding-top: 10px;
}
.houseFlags{
    height: 200px;
    width: 150px;
}
.rosterButton{
    margin-top: 10px;
    margin-left: 25px;
    max-width: 100px;
}
.Welcome{
    color: springgreen;
    border-style: solid;
    background-color: black;
}
header{
    text-align: center;
}

.BEfont{
    color: crimson;
  }
.BLfont{
    color: rgb(83, 126, 255);
}
.GDfont{
    color: gold;
}
.BEborder{
    background-color: black;
    color: crimson;
    border-style: solid; 
}
.BLborder{
    background-color: black;
    color:  rgb(83, 126, 255);
    border-style: solid; 
}
.GDborder {
    background-color: black;
    color:  gold;
    border-style: solid; 
}
/*Span coloring for keywords*/
.ability{
    color: rgb(21, 102, 252);
    line-height: 150%;
}
.spell{
    color: green;
    line-height: 150%;
}
.art{
    color: coral;
    line-height: 150%;
}
.class{
    color: powderblue;
}

.iconSize{
    max-width: 24px;
    max-height: 24px;
}

.txtCent{
    text-align: center;
}
.lost{
      color: blueviolet;
}
.selector {
    position: fixed;
    top: 5%;
    max-width: 10%;
    height: auto;
    padding: 10px;
    line-height: 200%;
}
a{
    color: inherit;
}
@media screen and (max-width: 992px) {
    
    .column{
      width: 50%;
      
    }
  }
  
  /* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 765px) {
    .selector{
        font-size: 8px;
        padding: 3px;
        top: 0%;
    }
    .column{
    width: 100%;
    }
    body{
    font-size: 12px;
    }
    .col-sm-1{
        width: 20%;
    }
}